.profile {
  /* max-width: 550px; */
  margin: 0px auto;
}

.profileContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid grey;
}

.profileImage > img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid salmon;
}

.profileDescription {
}

.profileDescription > div {
  display: flex;
  justify-content: space-between;
  width: 108%;
}

/* .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  margin-bottom: 20px;
} */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10px 20px 20px;
}

.itemContainer {
  margin: auto;
  margin-right: 10px;
}

.item {
  width: 100%;
  margin: 15px 0;
  border: 1px solid gray;
  border-radius: 10px;
}

.item:hover {
  transform: scale(1.03);
}

.noPostsText {
  text-align: center;
  font-family: verdana, cursive, monospace;
  font-weight: bold;
}

@media screen and (max-width: 920px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr 1fr;

    padding: 0 0 10px 10px;
  }
}

@media screen and (max-width: 620px) {
  .profileContainer {
    padding-bottom: 20px;
  }

  .profileImage > img {
    width: 100px;
    height: 100px;
  }

  .profileDescription {
    text-align: center;
  }

  .profileDescription > div {
    display: flex;
    flex-direction: column;
  }
}
